﻿@model ApplicationUser

<h3 class="bg-info text-white">Update User</h3>
<a asp-action="Index" class="btn btn-secondary">Back</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="City"></label>
        <select asp-for="City" class="form-control" asp-items="ViewBag.City"></select>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
