﻿@model IdentityMVC.Models.CityVM


<h1>Edit</h1>

<h4>City</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="City.Name" class="form-control" />
                <span asp-validation-for="City.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="City.Description" class="form-control" />
                <span asp-validation-for="City.Description" class="text-danger"></span>
            </div>
            <div class="form-group">

                @*@Html.DropDownListFor(m => m.SelCountries, Model.SelCountries, new { @class = "form-control" })
                <br />
                <select asp-for="Value" asp-items="@(new SelectList(Model.SelCountries,"Value","Text"))">
                    <option>Please select one</option>
                </select>*@

                <select asp-for="CountryId"
                        asp-items="@(new SelectList(Model.SelectCountries,"Id","Name"))" class = "form-control">
                    <option>Please select one</option>
                </select>

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
