﻿@model IdentityMVC.Models.Country

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<h4>Country</h4>
<hr />
<dt class="row">
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Name)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Name)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Description)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Description)
</dd>

@if (Model.Cities != null)
{
    <dt class="col-sm-2">
        Cities
    </dt>
    <dd class="col-sm-10">

        @foreach (var item in Model.Cities)
        {
            @Html.Label(item.Name)<br />
        }
    </dd>
}
else
{

    <dd class="col-sm-10">
        <text>No cities selected</text><br />
        <a class="nav-link text-dark" asp-area="" asp-controller="Cities" asp-action="Index">Go to city selection here</a>
    </dd>
}



<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
