﻿@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>


<h3 class="bg-info text-white" style="padding-left:5px">All Roles</h3>

<a asp-action="Create" class="btn btn-primary" style="margin-bottom:5px">Create role</a>
<table class="table table-sm table-bordered table-bordered">
    <tr><th>ID</th><th>Name</th><th>Users</th><th>Update</th><th>Delete</th></tr>
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Id</td>
            <td>@role.Name</td>
            <td i-role="@role.Id"></td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@role.Id">Update</a>
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>

